<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    
    <!--Connection string para la base de datos de usuarios del servidor local-->
    <!--<add name="ApplicationServices" connectionString="Data Source=HCU-8PX3J72\SQLEXPRESS;Initial Catalog=vencedo2_ASPNETDB;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--END-->

    <!--Connection string para la base de datos del servidor local-->
    <!--<add name="vencedoresConnectionString" connectionString="Data Source=HCU-8PX3J72\SQLEXPRESS;Initial Catalog=vencedo2_stage;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--END-->

    <!--///////////////////////////////////////////////////////////////////////// SERVIDOR ///////////////////////////////////////////////////////////////////////-->
    
    <!--Connection string para la base de datos de usuarios dentro del servidor-->
    <add name="ApplicationServices" connectionString="Data Source=204.93.178.157;Initial Catalog=vencedo2_ASPNETDB;User Id=vencedo2_stage_user;Password=St4g3@rv" providerName="System.Data.SqlClient"/>
    <!--END-->
    
    <!--Connection string para la base de datos dentro del servidor-->
    <add name="vencedoresConnectionString" connectionString="Data Source=204.93.178.157;Initial Catalog=vencedo2_stage;User Id=vencedo2_stage_user;Password=St4g3@rv" providerName="System.Data.SqlClient"/>
    <!--END-->
    
  </connectionStrings>
  <appSettings>
    <!--<add key="vencedoresConnectionString" value="Data Source=HCU-8PX3J72\SQLEXPRESS;Initial Catalog=vencedo2_stage;Integrated Security=True;"/>-->
    <add key="vencedoresConnectionString" value="Data Source=204.93.178.157;Initial Catalog=vencedo2_stage;User Id=vencedo2_stage_user;Password=St4g3@rv;"/>
    <!--<add key="ApplicationServices" value="Data Source=HCU-8PX3J72\SQLEXPRESS;Initial Catalog=vencedo2_ASPNETDB;Integrated Security=True;"/>-->

    
  </appSettings>
  
  <system.web>
    <sessionState timeout="540"/>
    <!--<authentication mode="Forms">
      <forms timeout="540"/>
    </authentication>-->
    <customErrors mode="Off"/>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider " siteMapFile="Web.sitemap" securityTrimmingEnabled="true"/>
        <remove name="MySqlSiteMapProvider"/>
      </providers>
    </siteMap>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="GemBox.Spreadsheet, Version=37.3.30.1110, Culture=neutral, PublicKeyToken=B1B72C69714D4847"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="1000" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="60" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider"/>
      </providers>
    </roleManager>
  </system.web>
  <!--administrar permisos por roles (admin, employee, ionventory)-->
  <!--http://www.vbforums.com/showthread.php?587037-Restrict-Access-to-your-website-using-ASP-Net-Membership-Provider-->
  <location path="Movimientos">
    <system.web>
      <authorization>
        <allow roles="admin,inventory"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Proveedores">
    <system.web>
      <authorization>
        <allow roles="admin,inventory"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Sucursales">
    <system.web>
      <authorization>
        <allow roles="admin,inventory"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="productos/prod_categ.aspx">
    <system.web>
      <authorization>
        <allow roles="admin,inventory,employee"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="productos/agreg_prod.aspx">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="productos/edit_prod.aspx">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="productos/elim_prod.aspx">
    <system.web>
      <authorization>
        <allow roles="admin,inventory"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="productos/add_category.aspx">
    <system.web>
      <authorization>
        <allow roles="admin,inventory"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="productos/remove_categ.aspx">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="productos/ajustar_precios.aspx">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="movimientos/update_prices.aspx">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--<location path="movimientos/auth_ajustes.aspx">
    <system.web>
      <authorization>
        <allow users="sgonzalez,admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->

  <!-- end of section for roles security -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
        <add value="default.aspx"/>
        <add value="index.php"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="nonreply@radiadoresvencedores.com">
        <network host="localhost" password="" userName=""/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>